body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif, 'Helvetica Neue'; 
    font-size: 18px;
    color: #333;
    background-image: url("../images/qbkls.png");
}

.top-section {
    background: #ffffff;
    font-family: Georgia, "Times New Roman", Times, serif;
    /* width: 960px; */
    height: 60px;
    margin: 0 auto;
}

h1 {
    padding: 15.5px;
    width: 17%;
    background-color:#4aaaa5;
    text-align: center;
    color: #ffffff;
    font-size: 25px;
    float: left;
    margin: 0 0 0 245px;
}

ul {
    list-style-type: none;
    width: 18%;
    margin: 0 245px 0 0;
    padding: 20px;
    float:right;
}

li {
    margin-left: 25px;
    float: left;    
}

li a {
    display: block;
    padding: 10;
    color: blue;

}

.container {
    clear: both;
    width: 895px;
    margin: 25px auto;
    padding: 25px;
    background-color: white;
    border-color: #cccccc;
    border-style: solid;
    color: #777777;
}

h2 {
    padding: 0 0 17px 5px;
    margin: 0 0 30px 0;
    border-bottom-style: solid;
    border-color: #4aaaa5;
    font-family: 'Times New Roman', Times, serif;
}

#bio-image {
    width: 20%;
    margin: 0 20px 0px 5px;
    float: left;
}

p {
    line-height:30px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 40px 0 5px 0;
    margin: 0;
    border-top: solid;
    border-color: #4aaaa5;
    border-width: 10px;
    background-color: #666666;
    color: #ffffff;
    font-size: 10px;
    text-align: center;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

#message {
    height:200px;
}

.container img {
    width: 250px;
    margin-left: 50px;
    margin-bottom: 50px;
    /* float: left; */
}
